.filterBarWrapp {

    .filterBarWrapp {

        ul {
            display: flex;
            justify-content: flex-start;

            li {
                list-style: none;
                cursor: pointer;
                margin-right: 20px;
                padding: 10px;
                border-radius: 10px;
                background-color: antiquewhite;
            }
        }
    
    }

}

