.filterBarWrapp {

    .filterBarWrapp {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            justify-content: flex-start;
            padding: 10px;

            li {
                list-style: none;
                cursor: pointer;
                margin-right: 20px;
                padding: 10px;
                border-radius: 10px;
                background-color: antiquewhite;

                &.active {
                    background-color: rgb(67, 67, 67);
                    color: antiquewhite;
                }
            }
        }
    
    }

}

